a.buy(href="https://store.buildbotics.com/buildbotics-cnc-controller/",
  target="_blank")
  button
    .left
      img(src="images/60-day-money-back.png")

    .right
      img(src="images/buildbotics_controller_front_right_lit-small.png")
      div Fast Shipping
      div Order Now
