.buy
  a(href="/store"): button
    .left
      img(src="images/60-day-money-back.png", alt="60 day money back guarantee")

    .right
      img(src="images/buildbotics_controller_front_right_lit-small.png",
        alt="Buildbotics CNC controller")
      div Order Now
      div Fast Shipping
