footer.site-footer
  .site-footer-content
    section.copyright.
      &copy; 2014-#[script document.write(new Date().getFullYear() + ' ')]
      BuildBotics LLC.

    nav: a(href="about.html") About
    nav: a(href="contact.html") Contact
    nav: a(href="//forum.buildbotics.com/", target="_blank") Help
    nav: a(href="projects.html") Projects
