footer.site-footer
  .site-footer-content
    nav.copyright: a(href="/copyright").
      &copy; 2014-#{new Date().getFullYear()} BuildBotics LLC

    nav Call 707-559-8539
    .site-footer-menu
      nav: a(href="/contact/") Contact
      nav: a(href="/returns/") Returns
      nav: a(href="/disclaimer/") Disclaimer
      nav: a(href="//forum.buildbotics.com/", target="_blank") Forum
      nav: a(href="/about/") About
