header.site-header
  .site-header-wrapper
    nav.site-nav
      .site-nav-left
        a.site-logo(href="/")
          img(src="/images/buildbotics_logo-40x40.png" alt="Buildbotics logo")
          .left Build
          .right botics

        ul
          li: a(href="/store/") Store
          li: a(href="/docs/") Docs
          li: a(href="/contact/") Contact

      ul.site-nav-right
        li Call 707-559-8539
        li#cart
