meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="icon", href="images/favicon.ico")

style: include:stylus ../../stylus/common.styl
style: include ../../css/google-fonts.css
style: include ../../css/icons.css

script: include ../../js/analytics.js
