header.site-header
  .site-header-wrapper
    nav.site-nav
      a.site-logo(href="/")
        img(src="/images/buildbotics_logo-40x40.png" alt="Buildbotics logo")
        .left Build
        .right botics

      ul
        li: a(href="/store/") Store
        li: a(href="/docs/") Docs
        li: a(href="/contact/") Contact

      ul
        li: a.patreon(href="//patreon.com/buildbotics",
          title="Visit our Patreon page.", target="_blank")
          .fa.fa-patreon
        li: a.facebook(href="//facebook.com/buildbotics",
          title="Visit our Facebook page.", target="_blank")
          .fa.fa-facebook-square
        li: a.youtube(href="//youtube.com/channel/UC_onc2im9IrG1RxJ3CZnArw",
          title="Visit our Youtube channel.", target="_blank")
          .fa.fa-youtube-play
        li: a.github(href="//github.com/buildbotics", target="_blank",
          title="Checkout our GitHub repositories."): .fa.fa-github

      #cart
