header.site-header
  .site-header-wrapper
    nav.site-nav
      .site-nav-left
        a.logo(href="/")
          img(src="images/buildbotics_logo-40x40.png" alt="Buildbotics logo")
          .left Build
          .right botics

        ul
          li: a(target="_blank" href="//buildbotics.com/store") Store
          li: a(href="/docs/") Docs
          li: a(href="/help/", target="_blank") Help
          li: a(href="//github.com/buildbotics/", target="_blank") GitHub

      .site-nav-right
        ul
          li Call 707-559-8539

        .cart
          .quantity 0
          .fa.fa-shopping-cart
