meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="icon", href="images/favicon.ico")

style: include:stylus ../../stylus/common.styl

link(href='//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Lato|' +
  'Audiowide' rel='stylesheet' type='text/css')

- var cdn = '//cdnjs.cloudflare.com/ajax/libs'
link(rel='stylesheet' href=cdn + '/font-awesome/4.7.0/css/font-awesome.min.css')

script(type="text/javascript", async): include olark.js
