header.site-header
  .site-header-wrapper
    nav.site-nav
      .site-nav-left
        a.logo(href="/")
          img(src="images/buildbotics_logo-40x40.png" alt="Buildbotics logo")
          .left Build
          .right botics

        ul
          li: a(target="_blank" href="//buildbotics.com/store") Store
          li: a(href="docs.html") Docs
          li: a(href="//forum.buildbotics.com/", target="_blank") Help
          li: a(href="//github.com/buildbotics/", target="_blank") GitHub

      .site-nav-right
        ul
          li.desktop-only Call 707-559-8539
          li.mobile-only: a(href="tel:707-559-8539", target="_blank")
            | Call 707-559-8539

        .cart
          .quantity 0
          .fa.fa-shopping-cart
