.mailinglist
  form(action="//buildbotics.us16.list-manage.com/subscribe/post",
    method="post")

    h1 Join our Mailing List

    div
      input(type="email", name="EMAIL", placeholder="your email here")
      input(type="hidden", name="u", value="aa50c8cda80a6ed2405c3e499")
      input(type="hidden", name="id", value="d319ecab7c")
    div
      button(type="submit") Subscribe
