h2 The 6040 CNC Router

img(src="images/6040_cnc.jpg")

p
  | The 6040 CNC is an greatly entry level machine available from <a
  | href="https://www.ebay.com/sch/?_nkw=6040+CNC">many
  | different resellers on EBay</a>. These machines tend to come with poor
  | quality control systems but when paired with a Buildbotics controller
  | they perform as well as much more expensive machines.
