h1 Documentation

include ../docs.jade

h1 Open-Source

p
  | Check out our <a href="https://github.com/buildbotics/">GitHub page</a>
  | where you will find all the source code for the hardware and software that
  | make up the Buildbotics CNC controller.
