h2 Doug's DIY CNC Router

img(src="images/dougs_cnc_and_bowl_cut.jpg")

p
  | The Buildbotics controller is ideal for DIY CNC builders. It makes
  | building CNCs a lot easier by simplifying the wiring and eliminating
  | the need for custom electronics enclosures.
