h2 The Dyna Myte 2400 CNC Mill

img(src="images/dyna_myte_2400.jpg")

p
  | This summer we restored a Dyna Myte 2400, a retro machine from the
  | 80s, for the <a href="http://robotgarden.org/">RobotGarden
  | Makerspace</a>. Check our video:

iframe(width="600", height="380", frameborder="0", allowfullscreen,
  src="https://www.youtube.com/embed/8IcQnnB2bXY")
