doctype html
html
  head
    include ./partials/head.pug

    title Antones Brabants' Custom Buildbotics CNC Router

  body
    include ./partials/header.pug

    #content
      h2 Antones Brabants' Custom Buildbotics CNC Router

      img(src="images/full/antoines_b/image3.jpg")
      img(src="images/full/antoines_b/image1.jpg")
      img(src="images/full/antoines_b/image2.jpg")

    include ./partials/footer.pug
