doctype html
html(lang="en")
  head
    title Buildbotics - Shopping Cart
    include ./partials/head.pug

  body
    include ./partials/header.pug

    #content
      h1 Shopping Cart
      #cart-view(v-cloak)

    include ./partials/footer.pug
    include ./partials/foot.pug
    include ./partials/cart-view-tmpl.pug
    style: include:stylus ../stylus/cart-view.styl
    style [v-cloak] {display: none}
