doctype html
html(lang="en")
  head
    title Buildbotics - Checkout
    include ./partials/head.pug

  body
    #cart
    #content

    style: include:stylus ../stylus/common.styl

    script: include ../js/jquery.min.js
    script: include ../js/vue.min.js

    include ./partials/cart.pug

    style [v-cloak], .cart {display: none}
    script $(function () {__cart_send('.cart', 'checkout')})
