doctype html
html(lang="en")
  head
    include ./partials/head.pug

    title CNC Controller Boards

    meta(name="description", content="Save time and money over CNC Controller Boards with the Buildbotics CNC controller.  Call us 707-559-8539.")

    style: include:stylus ../stylus/main.styl

  body
    include ./partials/header.pug
    #content: include ./partials/cnc_controller_board.pug
    include ./partials/footer.pug
