- var docver = "-draft-20171226";
- var docbase = "//buildbotics.com/upload/buildbotics_cnc_controller-";

doctype html
html
  head
    include ./partials/head.pug
    style: include:stylus ../stylus/about.styl

    title About Buildbotics LLC

  body
    include ./partials/header.pug

    #content
      h1 Documentation

      ul
        li
          a(target="_blank", href=docbase + "quick_start_guide-20190410.pdf")
            | Quick Start Guide
        li
          a(target="_blank", href=docbase + "datasheet" + docver + ".pdf")
            | Datasheet
        li
          a(target="_blank", href="https://docs.buildbotics.com/") User Manual

      h1 Open-Source

      p.
        Check out our #[a(href="//github.com/buildbotics/") GitHub page]
        where you will find all the source code for the hardware and software
        that make up the Buildbotics CNC controller.

      h1 Logo
      p #[a(href="logo.html") Click here] for more information about our logo.

    include ./partials/footer.pug
