- var docver = "-draft-20171226";
- var docbase = "https://buildbotics.com/upload/buildbotics_cnc_controller-";
ul
  li
    a(target="_blank",
      href=docbase + "quick_start_guide" + docver + ".pdf")
      | Quick Start Guide
  li
    a(target="_blank", href=docbase + "datasheet" + docver + ".pdf")
      | Datasheet
  li
    a(target="_blank", href="https://docs.buildbotics.com/") User Manual
