doctype html
html
  head
    include ./partials/head.pug

    title Doug Cofflands's DIY Buildbotics CNC Router

    style: include:stylus ../stylus/machine-specs.styl

  body
    include ./partials/header.pug

    #content
      h2 Doug's DIY Buildbotics CNC Router

      img(src="images/full/doug_c/image2.jpg")

      p.
        Doug built a custom CNC router using NEMA 23 motors and an air cooled
        1.5kW Huanyang VFD spindle.  The Buildbotics controller talks directly
        to the VFD over two wire RS485.

      table.machine-specs
        tr
          th Cutting Area
          td 33x47x10in
        tr
          th Dimensions
          td 56x62.5in
        tr
          th Motors
          td 2 x KL23H286-20-8B, 1 x KL232100-36-8B
        tr
          th X & Y Axis
          td 20mm ballscrews, 10mm pitch
        tr
          th Z Axis
          td 16mm ballscrew, 5mm pitch

      img(src="images/full/doug_c/image1.jpg")
      img(src="images/full/doug_c/torsion_box_construction.jpg")

      p.
        To give the CNC extra strength without greatly increasing the weight
        Doug built a torsion box.  You can find the FreeCAD drawings
        #[a(href="images/full/doug_c/torsion_box2.fcstd") here].

      blockquote.
        "I found the flattest part of my garage floor, laid a piece of MDF on
        it to make it even flatter and then started building the torsion box on
        top of that."

      img(src="images/dougs_cnc_and_bowl_cut.jpg")

    include ./partials/footer.pug
