# What software do I need?
# How do I create GCode?
# Does it work with Mach3/4 or LinuxCNC?
# Do I need a dedicated computer?
# Will it run on 240/220V AC?
# What do I need in addition to the controller?
# How do I connect to the controller?
# Will it work with a Chineese VFD spindle driver?
# Do you provide configuration files for my machine?
