#header
  #header-wrapper
    #header-content
      a.logo(href="/")
        img(src="images/squid_dude-40x40.png" alt="Buildbotics logo")
        .left Build
        .right botics

      #main-header-nav
        a.header-nav(target="_blank"
          href="https://store.buildbotics.com/buildbotics-cnc-controller/")
          | Store
        a.header-nav(href="docs.html") Docs
        a.header-nav(href="https://github.com/buildbotics/", target="_blank")
          | GitHub

      .clear
