doctype html
html(lang="en")
  head
    include ./partials/head.pug

    title Buildbotics Open-Source CNC Controller

    meta(name="description", content="Accelerate your CNC machine's performance with Buildbotics Open-Source CNC router, mill, plasma and LASER control.  Call us 707-559-8539.")

  body
    include ./partials/header.pug
    script(type="application/ld+json"): include:yaml ./partials/controller.yaml
    script(type="application/ld+json"): include:yaml ./partials/buildbotics.yaml
    #content: include ./partials/main.pug
    include ./partials/footer.pug

    style: include:stylus ../stylus/main.styl
    include ./partials/owl.pug
