doctype html
html
  head
    include ./partials/head.pug

    title James B.'s Buildbotics CNC Router

  body
    include ./partials/header.pug

    #content

      h2 James B.'s Buildbotics CNC Router

      img(src="images/full/james_b/image1.jpg")
      img(src="images/full/james_b/123_1-1.jpeg")
      img(src="images/full/james_b/123_1-2.jpeg")
      img(src="images/full/james_b/123_1-4.jpeg")
      img(src="images/full/james_b/123_1.jpeg")

    include ./partials/footer.pug
