doctype html
html
  head
    include ./partials/head.pug

    title The K40 Buildbotics LASER Cutter

  body
    include ./partials/header.pug

    #content
      h2 The K40 Buildbotics LASER Cutter

      img(src="images/K40-3020_LASER.png")

      p.
        This 40W CO2 LASER is another great EBay deal but it comes with
        notoriously poor software. We connected the Buildbotics controller to
        the existing stepper motors, LASER driver and limit switches. We also
        added a safety switch on the door.

    include ./partials/footer.pug
