doctype html
html
  head
    include ./partials/head.pug

    title About the Buildbotics Logo

  body
    include ./partials/header.pug

    #content
      h1 About the Buildbotics Logo
      p.
        The Buildbotics logo features a robotic squid with many different tools
        attached to its tenticles.  This cute little guy represents the
        versatility of the Buildbotics CNC controller and it's ability to
        control many types of CNCs such as LASERs, 3D printers, plasma cutters,
        water jets and drag knifes, as well as CNC routers and milling machines.

      h2 Terms of Use
      p.
        Buildbotics is a registered trademark and our logo is copyrighted but
        you can use the logo for personal non-commercial purposes which do not
        imply an endorsement by Buildbotics.  If you are interested in
        developing a product which includes hardware or software developed by
        Buildbotics, we would be happy to talk to you about it.
        Just #[a(href="mailto:info@buildbotics.com") send us an email].

      h2 Logo downloads

      img(src="images/logo/buildbotics_logo-64x64.png")

      ul
        li: a(href="images/logo/buildbotics_logo-64x64.png")
          | buildbotics_logo-64x64.png
        li: a(href="images/logo/buildbotics_logo-128x128.png")
          | buildbotics_logo-128x128.png
        li: a(href="images/logo/buildbotics_logo-1024x1024.png")
          | buildbotics_logo-1024x1024.png
        li: a(href="images/logo/buildbotics_logo.dxf") buildbotics_logo.dxf
        li: a(href="images/logo/buildbotics_logo.gcode") buildbotics_logo.gcode
        li: a(href="images/logo/buildbotics_logo.svg") buildbotics_logo.svg

      h2 Banner downloads

      img(src="images/logo/buildbotics_banner-200x32.png")

      ul
        li: a(href="images/logo/buildbotics_banner-200x32.png")
          | buildbotics_banner-200x32.png
        li: a(href="images/logo/buildbotics_banner-1080x169.png")
          |  buildbotics_banner-1080x169.png
        li: a(href="images/logo/buildbotics_banner.svg") buildbotics_banner.svg

    include ./partials/footer.pug
