doctype html
html
  head
    include ./partials/head.pug

    title Diagram of the Buildbotics Mainboard

  body
    include ./partials/header.pug

    #content
      img(src="images/buildbotics_main_board_v11-diagram.jpg")

      p.
        The Open-Source schematics and PCB layout can be found
        #[a(href="//github.com/buildbotics/bbctrl-pcb") here on Github].

    include ./partials/footer.pug
