doctype html
html
  head
    include ./partials/head.pug

    title Matt Dralle's Buildbotics Jet Mill Retrofit

  body
    include ./partials/header.pug

    #content
      h2 Matt Dralle's Buildbotics Jet Mill Retrofit

      iframe(width=560, height=315, src="//www.youtube.com/embed/pomILJae5Io",
        frameborder=0, allowfullscreen)

      p.
        Matt of #[a(src="https://www.matronics.com/") Matronics] used the
        Buildbotics controller to retrofit a Jet 830 vertical mill so he can
        make parts for his custom built airplanes.  Watch Matt's video to find
        out more.

    include ./partials/footer.pug
