doctype html
html
  head
    include ./partials/head.pug

    title Mike Rabin's Buildbotics Powered CNC Router

  body
    include ./partials/header.pug

    #content
      h2 Mike Rabin's Buildbotics Powered CNC Router

      img(src="images/full/mike_r/image1.jpg")
      img(src="images/full/mike_r/Img_5669.jpg")
      img(src="images/full/mike_r/Img_5675.jpg")
      img(src="images/full/mike_r/Img_5672.jpg")
      img(src="images/full/mike_r/Img_5676.jpg")

    include ./partials/footer.pug
