doctype html
html
  head
    include ./partials/head.pug

    title The OX CNC Router Powered by the Buildbotics Controller

  body
    include ./partials/header.pug

    #content
      h2 The OX CNC Router Powered by the Buildbotics Controller

      video(autoplay, loop, width=600)
        source(src="video/ox_logo_cut.mp4", type="video/mp4")

      p.
        When we paired the Buildbotics controller with a
        #[a(href="https://www.smw3d.com/ox-cnc-kit/") large format OX CNC]
        we were surprised by it’s speed. Simply by connecting up the motors
        and configuring them using the Buildbotics Web interface, we were able
        to reach speeds of 2,000 IPM (50,000 mm/min) and stop smoothly before
        reaching the other side.

    include ./partials/footer.pug
