doctype html
html(lang="en")
  head
    include ./partials/head.pug
    style: include:stylus ../stylus/pallete.styl

    title Buildbotics Color Pallete

  body
    include ./partials/header.pug

    #content
      h2 Buildbotics Color Pallete

      -
        var colors = [
          ['#f2ae43', 'color 1'],
          ['#e5aa3d', 'color 2'],
          ['#d28e3f', 'color 3'],
          ['#428bca', 'highlight'],
          ['#444444', 'gray 1'],
          ['#666666', 'gray 2'],
          ['#888888', 'gray 3'],
          ['#f5f5f5', 'gray 4'],
          ['#f7f7f7', 'gray 5'],
          ['#fdfdfd', 'gray 6']
        ]

      .color-pallete
        each color in colors
          .color
            .color-box(style=`background:${color[0]}`)
            label= color[0]
            label= color[1]

    include ./partials/footer.pug
    include ./partials/foot.pug
