doctype html
html
  head
    include ./partials/head.pug

    title Buildbotics Project Sharing

  body
    include ./partials/header.pug

    #content
      h1 Buildbotics CNC project sharing

      p.
        Check out our CNC project sharing site at
        <a href="//projects.buildbotics.com/" target="_blank"
        >projects.buildbotics.com</a>.

    include ./partials/footer.pug
