doctype html
html
  head
    include ./partials/head.pug

    title Using an SN04-N Proximity Sensor with Buildbotics

  body
    include ./partials/header.pug

    #content
      h1 Using an SN04-N Proximity Sensor with Buildbotics

      p.
        The diagram below shows how to connect a proximity sensor such as the
        #[a(href="https://www.amazon.com/s?k=SN04-N", target="_blank") SN04-N]
        to the Buildbotics CNC controller.

      img(src="images/buildbotics_proximity_sensor_wiring.svg")

      p.
        Because the Buildbotics controller only supplies 3.3v out on the I/O
        breakout connector, you must wire the proximity sensors directly to the
        power supply.

      p.
        The diode protects the Buildbotics I/O from high voltages.  It can be
        pretty much any general purpose diode.  The
        #[a(href="https://www.amazon.com/s?k=1N4001", target="_blank") 1N4001]
        is a good choice.

    include ./partials/footer.pug
