html
  head
    include ./partials/head.pug

    title Randy Savell's 6040 Buildbotics CNC with Huanyang VFD Spindle

  body
    include ./partials/header.pug

    #content
      h2 Randy Savell's 6040 Buildbotics CNC with Huanyang VFD Spindle

      img(src="images/full/randy_s/image1.jpg")
      img(src="images/full/randy_s/image2.jpg")

    include ./partials/footer.pug
