doctype html
html
  head
    include ./partials/head.pug
    style: include:stylus ../stylus/motors.styl

    title Buildbotics Recommended Stepper Motors

  body
    include ./partials/header.pug

    #content
      h1 Buildbotics Recommended Stepper Motors
      p.
        Here are some of the stepper motors we can recommend for use with the
        Buildbotics CNC controller.

      table.motors
        tr
          th Model
          th NEMA
          th Current
          th Holding Torque
          th Vendor
        tr
          td STP-MTR-17048
          td 17
          td 2A
          td 83 oz-in
          td Automation Direct
        tr
          td STP-MTR-23079D
          td 23
          td 2.8A
          td 276 oz-in
          td Automation Direct
        tr
          td STP-MTRH-34097
          td 34
          td 6.3A
          td 800 oz-in
          td Automation Direct
        tr
          td KL23H286-20-8B
          td 23
          td 2.8A
          td 425 oz-in
          td Automation Technology
        tr
          td KL34H2120-42-8B
          td 34
          td 6A
          td 1200 oz-in
          td Automation Technology

        caption A small sample of the compatible motors.

      p.
        If you have a question about a specific motor,
        #[a(href="mailto:info@buildbotics.com") send us an email].

    include ./partials/footer.pug
