doctype html
html
  head
    include ./partials/head.pug

    title The Taig CNC Mill Powered by Buildbotics

  body
    include ./partials/header.pug

    #content
      h2 The Taig CNC Mill Powered by Buildbotics

      video(autoplay, loop, width=600)
        source(src="video/taig_logo_cut.mp4", type="video/mp4")

      p.
        The Taig CNC mill is one of our favorites. With very little effort, we
        were able to connect the stepper motors to the Buildbotics controller
        and get this machine up and running. Spindle control, limit switches
        and an EStop button can also be added with a little more work.

    include ./partials/footer.pug
