.author-card
  display flex

  .basic-info
    display flex
    flex-direction column
    align-items center
    padding 30px 20px 20px 20px
    background #444
    border-radius 6px 6px 0 0

    h2
      margin 1em 0 0.5em

  .bio
    padding 20px 20px 0

.author-card .author-profile-image, .author-card .avatar-wrapper
  margin-right 15px
  width 60px
  height 60px
  position relative
  margin-right 15px

.author-card-name
  margin 8px 0 2px 0
  padding 0
  font-size 2rem

  a
    color #444
    font-weight 700

.author-card-content
  display flex
  align-items center

  h3
    line-height initial

  p
    margin 0
    color #888
    line-height 1.3em

.author-card-button
  display block
  padding 9px 16px
  border #888 1px solid
  color #888
  font-size 1.2rem
  line-height 1
  font-weight 500
  border-radius 20px
  transition all ease 0.2s

  &:hover
    border-color #666
    color #666
    text-decoration none
