// Buy banner
.buy
  display block
  margin 3em auto 1em auto
  text-align center

  button
    width 310px
    padding 0.25em
    text-align left
    font-size 18pt

    * >
      margin 0.25em

  img
    width 128px
    margin 0 !important

  .left img
    float left

  .right
    text-align center

    img
      display inline-block !important
      margin-bottom -10px !important
