@import "config"

.cart
  &.cart-active
    color link_color

  .cart-wrapper
    position relative
    display flex
    align-items center
    width 60px
    height 50px

    > *
      position absolute
      text-align center
      width 60px

    .fa
      font-size 40pt

    .cart-count, .cart-count:hover
      padding 0 0 10px 5px
      font-weight bold
      font-size 14pt
      color #f7f7f7

.cart-frame
  width 100vw
  height 100vh
  position fixed
  left 0
  top 0
  border 0
