@import "config"

.cart
  &.cart-active
    color link_color

  .cart-wrapper
    position relative
    display flex
    align-items center
    width 40px
    height 50px
    margin-right 10px

    > *
      position absolute
      text-align center
      width 40px

    .fa
      font-size 34pt

    .cart-count, .cart-count:hover
      padding 0 0 8px 6px
      font-weight bold
      font-size 11pt
      color #f7f7f7

.cart-frame
  width 100vw
  height 100vh
  position fixed
  left 0
  top 0
  border 0

@media print
  .cart
    display none
