code
  background-color rgba(200, 200, 200, 0.3)
  font-size 110%
  padding 2px
  border-radius 3px
  overflow-x auto
  white-space nowrap

pre code
  padding 0.5em 1em
  border-left 5px solid #bbb
  display block
  white-space pre
