// Dimensions
page_width = 1040px
content_width = 900px
min_page_width = 320px
header_height = 50px

// Colors
link_color = #e5aa3d
link_hover_color = #428bca
text_color = #344
medium_text_color = #666
light_text_color = #888
border_color = #ddd
text_bg_color = #fff
input_background = #fff
highlight_color = #fcbb43

header_color = #ededed
header_border_color = border_color
secondary_header_color = #fafafa
secondary_header_border_color = #f0f0f0
