#content
  margin 0 auto
  padding 0 5px
  min-height 80vh
  text-overflow ellipsis
  max-width content_width

  .page-content-wrapper
    margin 0 1em

  .header-content
    margin auto

  img, video
    margin 1em
    max-width 100%

  .caption
    margin 0 2em
    font-style italic
    font-size 90%

  .announce
    font-weight bold

  .comparison img
    max-width inherit
