.page-docs
  .post-full-header, .post-full-content
    max-width inherit

  .post-full
    > h2
      color #666
      font-size 24pt

@media (max-width: 500px)
  .page-docs .post-full > h2
    font-size 18pt
