@require "links"
@require "buttons"
@require "code"
@require "headings"
@require "video"

blockquote
  margin-right 4em
  margin-left 4em

hr
  border none
  border-bottom 1px solid border_color
  height 1px

em
  color medium_text_color

p
  color text_color

li
  color text_color
  margin 0.5em 0

body
  background-color #fdfdfd
  margin 0
  font-family 'Roboto Slab', serif

.clear
  height 1px
  margin-bottom -1px
  clear both

.warn
  color #ff6000

.error
  color red

.success
  color green

.weak
  font-weight normal
  color light_text_color

.help
  color medium_text_color

.mobile-only
  display none !important

.desktop-only
  cursor default

@media (max-width: 500px)
  .desktop-only
    display none !important

  .mobile-only
    display initial !important
