.floating-header
  visibility hidden
  position fixed
  top 0
  right 0
  left 0
  z-index 1000
  display flex
  align-items center
  height 60px
  border-bottom rgba(0,0,0,0.06) 1px solid
  background rgba(255,255,255,0.95)
  transition all 500ms cubic-bezier(0.19, 1, 0.22, 1)
  transform translate3d(0, -120%, 0)

.floating-active
  visibility visible
  transition all 500ms cubic-bezier(0.22, 1, 0.27, 1)
  transform translate3d(0, 0, 0)

.floating-header-logo
  img
    margin 0 5px
    vertical-align text-bottom

.floating-header-divider
  margin 0 5px
  line-height 1em

.floating-header-title
  flex 1
  overflow hidden
  margin 0
  color #666
  font-size 2rem
  line-height 1.3em
  font-weight bold
  text-overflow ellipsis
  white-space nowrap

.floating-header-share
  display flex
  justify-content flex-end
  align-items center
  padding-left 2%
  font-size 1.3rem
  line-height 1

  a
    display flex
    justify-content center
    align-items center

.floating-header-share-label
  flex-shrink 0
  display flex
  align-items center
  margin-right 10px
  color rgba(0,0,0,0.7)
  font-weight 500

  .fa
    margin 0 5px 0 10px
    font-size 18pt
    transform rotate(90deg)

.floating-header-share-tw, .floating-header-share-fb
  display block
  align-items center
  width 60px
  height 60px
  color #fff
  line-height 48px
  text-align center
  transition all 500ms cubic-bezier(0.19, 1, 0.22, 1)
  font-size 24pt

  &:hover
    text-decoration none

.floating-header-share-tw
  background #33b1ff

.floating-header-share-fb
  background #005e99

@media (max-width: 900px)
  .floating-header
    height 40px

@media (max-width: 900px)
  .floating-header-title, .floating-header-logo
    font-size 1.5rem

@media (max-width: 900px)
  .floating-header-share-tw, .floating-header-share-fb
    width 40px
    height 40px
    line-height 38px

@media (max-width: 800px)
  .floating-header-logo
    margin-left 10px
    a
      color #2e2e2e

@media (max-width: 800px)
  .floating-header-title, .floating-header-divider
    visibility hidden

@media (max-width: 450px)
  .floating-header-share-label
    display none

@media (max-width: 400px)
  .floating-header-share
    display none
