@import "config"

.site-footer
  color light_text_color
  min-height 1.5em
  border-top 1px solid border_color
  padding 0 1em

  .site-footer-content
    display flex
    flex-wrap wrap
    font-size 10pt
    margin 0 auto
    max-width page_width
    line-height 3em
    justify-content space-between

    > *
      display inline-block

    .copyright
      margin-right 1em
      white-space nowrap

    .site-footer-menu
      display flex
      flex-direction row

    nav
      margin 0 0.75em
      white-space nowrap


@media (max-width: 500px)
  .site-footer
    .copyright
      display block
