#footer
  color light_text_color
  min-height 1.5em
  border-top 1px solid border_color
  padding 0 1em
  margin-top 1em

  #footer-content
    font-size 10pt
    padding 1em 0
    margin 0 auto
    max-width page_width

    .copyright
      margin-right 1em
      white-space nowrap

    .footer-nav
      margin 0 0.5em


@media (max-width: 500px)
  #footer
    .copyright
      display block
