@import "config"

.site-header
  border-bottom 1px solid header_border_color
  background-color header_color
  line-height initial

  .site-header-wrapper
    padding 0 5px

  .site-nav
    max-width page_width
    min-height header_height
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
    margin 0 auto
    overflow hidden

  a
    text-decoration none
    color medium_text_color

    &:hover
      color link_hover_color

  ul, li
    margin 0
    padding 0

  ul
    list-style none
    display flex
    align-items center
    flex-wrap wrap

  .site-logo
    margin 0 10px
    font-size 24pt
    white-space nowrap

    img
      height header_height - 10px
      vertical-align bottom
      margin-right 5px

  li
    text-transform uppercase
    font-size 16pt
    white-space nowrap
    margin 0 10px
    display inline-block
    color medium_text_color
    line-height 2.6em

    .fa
      font-size 20pt

.amp-template .site-header .site-logo
  img
    margin-right 0

  amp-img
    margin-right 5px
    vertical-align bottom


@media (max-width: 850px)
  .site-header
    .site-logo
      font-size 20pt

      img
        height 34px

    li
      font-size 14pt
      line-height 1.6em

@media (max-width: 750px)
  .site-header li
    line-height 1.6em
