h1, h2, h3, h4
  color link_color
  margin-top 0.5em
  margin-bottom 0.25em

h1
  color medium_text_color
  font-size 26pt
  font-weight normal
  margin-top 2em
  margin-bottom 0.5em

h2
  font-size 16pt
  color medium_text_color

h3
  font-size 14pt
  color light_text_color


// Responsive
@media (max-width: 500px)
  h1
    font-size 18pt
