a, a:visited
  color link_color
  text-decoration none
  cursor pointer

a:hover, a:focus
  text-decoration underline
  outline 0

a:hover
  color link_hover_color !important

a.fa, a.fa:visited
  color light_text_color

  &:hover
    text-decoration none

a.disabled, a:hover.disabled
    color light_text_color !important
    cursor default
