// Mailchimp signup
.mailinglist
  clear both
  max-width 450px
  margin auto
  text-align center

  form
    display block
    position relative
    padding 10px 0 10px 3%

  input
    margin 1em 0
    padding 0.4em
    border 1px solid #abb0b2
    border-radius 3px
    width 80%
    text-align center

    &:focus
      border-color #333

  .button
    clear both
    cursor pointer
    display inline-block
    height 32px
    line-height 32px
    margin 0 5px 10px 0
    padding 0 22px
    text-align center
