@require "config"

#content
  max-width page_width

#content .owl-carousel
  text-align center
  font-size 11pt
  margin 1em 0

  &.loading
    display none

  img
    margin 0
    height 250px

  .owl-prev, .owl-next
    width 40px
    height 250px
    position absolute
    top 50%
    transform translateY(-50%)
    display block !important
    border 0px solid black
    transition-duration 0.5s

  &:hover
    .owl-prev, .owl-next
      i
        color link_color

  .owl-prev
    left 0px

  .owl-next
    right 0px

  .owl-prev, .owl-next
    i
      transform scale(3)
      color #888

  .owl-item > a
    display block
    border 2px solid #ddd
    padding-bottom 0.125em

    &:hover
      border 2px solid #666


#content .banner
  text-align center
  padding 1em 0 0 0
  margin-bottom 3em

  .site-logo
    font-size 60pt

  .byline
    color #444
    font-size 18pt

  img
    max-width 90%


.front-content
  margin auto
  max-width content_width

  h1, h2
    margin 0.5em 0
    color medium_text_color
    font-size 26pt
    font-weight normal

  img, video
    text-align center
    max-width 100%
    display block
    margin 2em 0

  .clear
    clear both

  .img-left
    float left
    margin-right 4em
    clear left

  .img-right
    float right
    margin-left 4em
    clear right

  .img-left, .img-right
    img
      margin-top 0

  section
    clear both
    margin 6em 0
    padding 4em

    &:nth-of-type(even)
      background #eaeaea

    &:nth-of-type(odd)
      background #f7f7f7

    a
      img, video
        border 2px solid link_color
        border-radius 3px

        &:hover
          border 2px solid link_hover_color

#content .cam-logos
  float left
  margin-right 10px
  max-width 320px

  img
    display inline-block
    margin 0 15px 15px 0

@media (max-width: 650px)
  .front-content
    .img-left, .img-right
      float none
      margin-left inherit
      margin-right inherit

    section
      margin 3em 0

@media (max-width: 500px)
  #content
    .owl-carousel img
      height 200px

    .banner
      img:first-of-type
        width 100px

      .site-logo
        font-size 30pt
