.color-pallete
  .color
    display inline-block
    text-align center
    margin 10px

    .color-box
      width 128px
      height 128px
      margin 5px
      border 1px solid black

    label
      display block
