.post-feed
  position relative
  display grid
  grid-template-columns auto auto auto auto
  flex-wrap wrap
  margin 0 -20px
  padding 40px 0 0 0

.post-card
  display flex
  flex-direction column
  margin 0 10px 20px
  max-width 500px
  background #fff center center
  background-size cover
  border-radius 5px
  box-shadow rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px
  transition all 0.5s ease

  &:hover
    transition all 0.2s ease
    transform translate3D(0, -4px, 0)

.post-card-image-link
  position relative
  display block
  overflow hidden
  border-radius 5px 5px 0 0

.post-card-image
  width 100%
  height 200px
  object-fit cover
  border-bottom 1px solid #eee

.post-card-content-link
  position relative
  flex-grow 1
  display block
  padding 15px
  color #444

  &:hover
    text-decoration none
    color #444

.post-card-title
  margin 0
  text-align center
  font-size 14pt

.post-card-content
  flex-grow 1
  display flex
  flex-direction column
  justify-content space-between


@media (min-width: 795px)
  .post-card-large
    flex 1 1 100%
    flex-direction row

    .post-card-image-link
      position relative
      flex 1 1 auto
      border-radius 5px 0 0 5px

    .post-card-image
      position absolute
      width 100%
      height 100%

    .post-card-content
      flex 0 1 357px

    h2
      font-size 2.6rem

    p
      font-size 1.8rem
      line-height 1.55em

    .post-card-content-link
      padding 30px 40px 0

    .post-card-meta
      padding 0 40px 30px


@media (max-width: 1200px)
  .post-feed
    grid-template-columns auto auto auto


@media (max-width: 650px)
  .post-feed
    padding-top 5vw
    grid-template-columns auto auto

  .post-card
    margin 0 20px 5vw


@media (max-width: 500px)
  .post-card-title
    font-size 12pt

  .post-content-link
    padding 10px


@media (max-width: 450px)
  .post-feed
    grid-template-columns auto
