@import "config";
@import "review-stars";

column_space = 20px
column_width = (content_width - column_space) / 2
thumb_size = 48px

.product
  .product-top
    display flex
    flex-direction row-reverse
    flex-wrap wrap
    justify-content end

  .product-images, .product-offer
    margin 2em 0

  .product-offer
    max-width content_width * 0.5

  .product-images
    max-width content_width * 0.45
    margin-right content_width * 0.05

  #reviews
    margin 2em 0
    padding 1em 0
    border-top 1px solid border_color
    border-bottom 1px solid border_color


.product-images
  width 100%
  display flex

  .product-thumbnails
    width thumb_size
    margin-right 15px
    display flex
    flex-direction column
    text-align center

    a
      display flex
      margin-bottom 4px
      border 2px solid transparent
      align-items flex-start

      &:hover
        border-color border_color

      img
        width thumb_size

  .owl-carousel
    overflow hidden
    max-width 100vw

  figure
    max-width 100vw
    margin 0
    padding 0

@keyframes lds-dual-ring
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

.product-price > :first-child
  font-size 24pt
  margin-right 0.25em

.product-title
  margin 0

.product-rating
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom 1em
  color light_text_color

  > *
    white-space nowrap
    margin 0 1em 1em 0

.product-modifier
  margin 1em 0

.product-options
  margin 1em
  padding 0
  list-style none

.product-option
  display flex
  flex-wrap wrap
  align-items center
  border 2px solid border_color
  padding 0 0.5em
  cursor pointer

  &:hover
    background header_color

  &.selected
    border-color highlight_color
    background header_color

  &.disabled
    background #ddd
    cursor default

  .product-option-thumbnail
    flex-shrink 0
    width thumb_size
    height thumb_size
    margin 5px
    text-align center

    img
      max-width thumb_size
      max-height thumb_size

  .option-description
    display flex
    flex-direction column
    flex 1
    font-size 90%

  .option-stock
    font-size 80%

  .option-price
    margin-left 0.5em

  input
    margin 0.5em 0.5em 0.5em 0

.product-add
  display flex
  align-items flex-end
  flex-direction column
  padding 1em
  text-align right

  > *
    margin 0.5em 0

  button.add-to-cart
    display flex
    align-items center
    padding 1em 2em
    background highlight_color
    color text_color

    .fa
      font-size 20pt
      display inline-block

    &:hover
      background lighten(highlight_color, 20%)

.product-description
  width 100%

.product-reviews
  .product-review
    margin-top 1em

  .product-review-wrapper
    position relative
    max-height 300px
    overflow hidden
    background transparent
    padding-bottom 1em
    font-size 80%

    > div
      clear both

    .review-avatar
      display inline-block
      margin-right 0.35em
      margin-bottom 0.25em
      font-size 24pt
      color light_text_color

    .reviewer
      display inline-block
      line-height 24pt
      font-size 110%
      vertical-align text-bottom

    .review-stars
      display inline-block
      margin-right 0.5em

    .review-title
      display inline-block
      font-weight bold

    .review-date
      color light_text_color

    .review-text
      padding 1em 0
      white-space pre-wrap

    &:after
      content ""
      position absolute
      left 0
      bottom 0
      height 40px
      width 100%
      background linear-gradient(rgba(0, 0, 0, 0), #fdfdfd)

    &.show-full
      max-height initial

      &:after
        display none

  .product-review-more
    cursor pointer
    color link_color

    &:hover
      color link_hover_color


.product-review-form
  fieldset
    display flex
    flex-direction column
    border 1px solid border_color
    border-radius 4px

    > *
      margin 0.25em 0

    select, input, textarea, button
      border 1px solid border_color
      border-radius 4px
      padding 0.5em
      box-sizing border-box
      width 100%

      &.valid
        border 1px solid green

    button
      background link_color
      color text_color

      &:hover
        background link_hover_color

      &:disabled
        background #ddd

    .text-chars
      text-align right
