.review-stars
  white-space nowrap

  div
    display inline-block

  .review-star
    width 16px
    height 16px
    position relative

    .fa
      position absolute

  .fa
    color #ccc

  .gold-star
    color highlight_color
