// Dimensions
golden_ratio = 1.6180339887498948482
page_width = 600px
min_page_width = 465px
header_height = 50px
content_width = 700px


// Colors
link_color = #e5aa3d
link_hover_color = #428bca
text_color = #344
medium_text_color = #666
light_text_color = #888
border_color = #ddd
text_bg_color = #fff
input_background = #fff

header_color = #ededed
header_border_color = border_color
secondary_header_color = #fafafa
secondary_header_border_color = #f0f0f0

// Links
a, a:visited
  color link_color
  text-decoration none
  cursor pointer

a:hover, a:focus
  text-decoration underline
  outline 0

a:hover
  color link_hover_color !important

a.fa, a.fa:visited
  color light_text_color

  &:hover
    text-decoration none

a.disabled, a:hover.disabled
    color light_text_color !important
    cursor default

// Special text
.warn
  color #ff6000

.error
  color red

.success
  color green

.weak
  font-weight normal
  color light_text_color

.help
  color medium_text_color

blockquote
  margin-right 4em
  margin-left 4em


// Buttons
button
  border 1px solid border_color
  border-radius 3px
  background-color #eee
  background-image linear-gradient(#fcfcfc, #eee)
  padding 4px
  color link_color
  cursor pointer

  &::-moz-focus-inner
    border none

  &:hover
    color link_hover_color

  &.success
    background #5cb85c
    border-color #4cae4c
    color #fff
    transition 0.25s

    &:hover
      background #449d44
      border-color #398439

  &:disabled, &:hover:disabled, &.disabled, &.disabled:hover
    background header_color
    color light_text_color !important
    border-color border_color
    cursor default

  > .fa
    margin 0 0.25em

p > button
  margin 0 0.5em


// Clear
.clear
  height 1px
  margin-bottom -1px
  clear both


// hr
hr
  border none
  border-bottom 1px solid border_color
  height 1px


// Code
code
  background-color rgba(200, 200, 200, 0.3)
  font-size 110%
  padding 2px
  border-radius 3px
  overflow-x auto
  white-space nowrap

pre code
  padding 0.5em 1em
  border-left 5px solid #bbb
  display block
  white-space pre

// Headings
h1, h2, h3, h4
  color link_color
  margin-top 0.5em
  margin-bottom 0.25em

h1
  color medium_text_color
  font-size 22pt
  font-weight normal

h2
  font-size 16pt
  color medium_text_color

h3
  font-size 14pt
  color light_text_color

// em
em
  color medium_text_color


// Paragraphs
p
  color text_color

// List
li
  color text_color
  margin 0.5em 0

// Banner
.banner
  text-align center
  padding 1em 0 0 0

  .logo
    font-size 60pt

  .byline
    color #444
    font-size 18pt

// Video
video
  &.large
    max-width 100%
    width 700px
    max-height 433px

  &.small
    max-width 100%
    width 300px
    max-height 185px

  &.thumb
    max-width 100%
    width 120px
    max-height 100px

// Body
body
  //background-image url(../images/grid.png)
  background-color #fdfdfd
  margin 0
  font-family 'Roboto Slab', serif


// Layout
html, body
  min-width 500px

#page
  #header
    #header-wrapper
      padding 0 1em

    #header-content
      min-width min_page_width
      max-width page_width
      min-height header_height
      margin 0 auto
      overflow hidden

  #content
    margin 0 auto
    min-width min_page_width
    max-width 100vw
    min-height 80vh
    text-overflow ellipsis

    .page-content-wrapper
      margin 0 1em

    .header-content, .page-content
      max-width page_width
      margin auto

    img, video
      text-align center
      max-width 100%
      display inline-block
      margin 1em auto

    .caption
      text-align center
      font-style italic
      font-size 90%

    .announce
      font-weight bold

    .comparison img
      max-width inherit

  #footer
    color light_text_color
    min-height 1.5em
    min-width min_page_width


// Header
#header
  border-bottom 1px solid header_border_color
  background-color header_color

  a
    text-decoration none
    color medium_text_color

  .logo
    float left
    margin-right 1em
    padding 4px 0 0 0
    font-size 24pt

    img
      height header_height - 10px
      vertical-align bottom
      margin-right 0.25em

  #main-header-nav, #context-header-nav
    display inline-block
    white-space nowrap

    > *
      display inline-block

    a.header-nav > .fa-caret-down
      font-size 10pt
      line-height 10px
      margin-left 0.25em
      margin-right 0

  #main-header-nav
    float left

    a.header-nav
      text-transform uppercase
      font-size 16pt
      line-height header_height - 10px

  #context-header-nav
    float right

  a.header-nav
    line-height header_height - 20px
    height header_height - 20px
    padding 10px
    display inline-block

    &:hover
      color #f0ac48
      background-color #f7f9f7

  a.user
    line-height header_height - 4px
    height header_height - 4px
    padding 2px 5px


// Footer
#footer
  border-top 1px solid border_color
  padding 0 1em
  margin-top 1em

  #footer-content
    font-size 10pt
    padding 1em 0
    margin 0 auto
    max-width page_width

    .copyright
      margin-right 1em
      white-space nowrap

    .footer-nav
      margin 0 0.5em


// Logo
.logo
  .left, .right, .beta
    display inline
    font-family Audiowide

  .left
    color #444

  .right
    color link_color

  .beta
    font-size 12pt
    color medium_text_color


// Comparison table
.footnote
  margin 0.25em 2em
  font-size 8pt

  > span
    margin-left -1em
    display inline-block
    font-weight bold

table.comparison
  border-collapse collapse
  font-size 10pt
  margin 1em 0

  .tagline
    font-weight bold
    font-size 18pt

  .logo
    font-size 24pt

  .fa
    color link_color
    text-align center
    width 2em
    margin-left -1em

  img
    margin 0

  th
    padding-left 1em

    img
      height 72px

  td
    text-align center
    font-size 11pt

    &.yes, &.no
      width 1em
      background-repeat no-repeat
      background-position center

    &.yes
      background-image url(/controller/yes.png)

    &.no
      background-image url(/controller/no.png)

  .none
    display none

  tr > *
    border-bottom 1px solid #eaeaea

  tr > th:nth-child(1)
    text-align left
    white-space nowrap

  tr:nth-child(2) > th
    text-align center

  tr:nth-child(odd)
    > td, > th
      background-color #fff

  tr:nth-child(even)
    > td, > th
      background-color #f6f6f6

  tr
    th:nth-child(5), td:nth-child(5)
      display none


// Table
.table
  border-collapse collapse

  th
    .fa-caret-up, .fa-caret-down
      display none

    .fa
      width 1em

  th.st-sort-ascent, th.st-sort-descent
    .fa-caret-right
      display none

  th.st-sort-ascent .fa-caret-up
    display inline-block

  th.st-sort-descent .fa-caret-down
    display inline-block

.table-striped > thead
  > tr:first-child > th
    background-color table_header_color

.table-striped > tbody
  > tr:nth-child(odd) > td
    background-color table_odd_color

  > tr:nth-child(even) > td
    background-color table_even_color

  > tr:hover > td
    background-color table_hover_color


// About page
#page #content .company-man
  margin 1em 0
  color text_color
  min-height 175px
  clear both

  img
    float left
    margin 0 2em 1em 0
    border-radius 5px


// Buy banner
.buy
  border 1px solid #eee
  background-color #f3f3f3
  border-radius 5px
  margin 2em 0

// Mailchimp signup
.mc_embed_signup
  clear left
  font 14px Helvetica, Arial, sans-serif
  max-width 500px

  form
    display block
    position relative
    text-align left
    padding 10px 0 10px 3%

  input
    margin 1em
    border 1px solid #abb0b2
    border-radius 3px

    &:focus
      border-color #333

  .button
    clear both
    background-color #aaa
    border 0 none
    border-radius 4px
    transition  all 0.23s ease-in-out 0s
    color #ffffff
    cursor pointer
    display inline-block
    font-size 15px
    height 32px
    line-height 32px
    margin 0 5px 10px 0
    padding 0 22px
    text-align center
    text-decoration none

    &:hover
      background-color #777

// Responsive
@media (max-width: 750px)
  #page #header-content
    > *
      float none
      display block

    #main-header-nav a.header-nav
      line-height normal

@media (max-width: 500px)
  h1
    font-size 18pt
