.subscribe-button
  display block
  padding 4px 10px
  border #fff 1px solid
  color #fff
  font-size 1.2rem
  line-height 1em
  border-radius 10px
  opacity 0.8

  &:hover
    opacity 1

.subscribe-form
  margin 1.5em 0
  padding 6.5vw 7vw 7vw
  border #888 1px solid
  text-align center
  background #eee
  border-radius 7px

  p
    margin-bottom 1em
    color #888
    font-size 2.2rem
    line-height 1.55em
    letter-spacing 0.2px

  form
    display flex
    justify-content center
    align-items center
    margin 0 auto
    max-width 420px

  .form-group
    flex-grow 1

  button
    display inline-block
    margin 0 0 0 10px
    padding 0 20px
    height 41px
    outline none
    font-size 1.5rem
    line-height 37px
    font-weight 400
    text-align center
    text-shadow 0 -1px 0 rgba(0,0,0,0.1)
    border-radius 5px
    box-shadow 0 0 0 1px inset rgba(0,0,0,0.14)
    -webkit-font-smoothing subpixel-antialiased

.subscribe-form-title
  margin 0 0 3px 0
  padding 0
  color #444
  font-size 3.5rem
  line-height 1
  font-weight 700

.subscribe-email
  display block
  padding 10px
  width 100%
  border #888 1px solid
  color #666
  font-size 1.8rem
  line-height 1em
  font-weight normal
  user-select text
  border-radius 5px
  transition border-color 0.15s linear
  -webkit-appearance none

  &:focus
    outline 0
    border-color #eee
    outline 0
    border-color #888

.subscribe-form button:active,
.subscribe-form button:focus
  background #eee

@media (max-width: 650px)
  .subscribe-form-title
    font-size 2.4rem

  .subscribe-form
    p
      font-size 1.6rem

@media (max-width: 500px)
  .subscribe-form
    form
      flex-direction column

    .form-group
      width 100%

    button
      margin 10px 0 0 0
      width 100%

.subscribe-overlay
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 9000
  display flex
  justify-content center
  align-items center
  background rgba(0,25,40,0.97)
  opacity 0
  transition opacity 200ms ease-in
  pointer-events none
  backdrop-filter blur(3px)

  &:target
    opacity 1
    pointer-events auto

  form
    display flex
    justify-content center
    align-items center
    margin 0 auto
    max-width 500px

  .form-group
    flex-grow 1

  .subscribe-email
    display block
    padding 14px 20px
    width 100%
    border none
    color #666
    font-size 2rem
    line-height 1em
    font-weight normal
    letter-spacing 0.5px
    user-select text
    border-radius 8px
    transition border-color 0.15s linear
    -webkit-appearance none

  button
    display inline-block
    margin 0 0 0 15px
    padding 0 25px
    height 52px
    outline none
    font-size 1.7rem
    line-height 37px
    font-weight 400
    text-align center
    text-shadow 0 -1px 0 rgba(0,0,0,0.1)
    border-radius 8px
    box-shadow 0 0 0 1px inset rgba(0,0,0,0.14)
    -webkit-font-smoothing subpixel-antialiased

.subscribe-overlay-content
  position relative
  z-index 9999
  margin 0 0 5vw 0
  padding 4vw
  color #fff
  text-align center

.subscribe-overlay-logo
  position fixed
  top 23px
  left 30px
  height 30px

.subscribe-overlay-title
  display inline-block
  margin 0 0 10px 0
  font-size 6rem
  line-height 1.15em

.subscribe-overlay-description
  margin 0 auto 50px
  max-width 650px
  font-family Georgia, serif
  font-size 3rem
  line-height 1.3em
  font-weight 300
  opacity 0.8

.subscribe-overlay-close
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display block

  &:before
    content ""
    position absolute
    top 40px
    right 25px
    display block
    width 30px
    height 2px
    background #fff
    opacity 0.8
    transform rotate(45deg)

  &:after
    content ""
    position absolute
    top 40px
    right 25px
    display block
    width 30px
    height 2px
    background #fff
    opacity 0.8
    transform rotate(-45deg)

  &:hover
    cursor default
