.table-of-contents
  padding 1em

  h2
    margin 0 0 0.5em 0
    font-size 180%

  ul, li
    list-style none
    padding 0

  li
    margin-bottom 0.25em
    line-height initial
    display flex
    flex-direction row
    align-items baseline

  .toc-0
    margin-top 1em
    font-size 130%

  .toc-1
    margin-left 1em

  .toc-2
    margin-left 2em

.section-number
  font-family "Lucida Console", Monaco, monospace
  margin-right 0.25em
  display inline-block
