video
  &.large
    max-width 100%
    width 700px
    max-height 433px

  &.small
    max-width 100%
    width 300px
    max-height 185px

  &.thumb
    max-width 100%
    width 120px
    max-height 100px
