h2 The Dyna Myte 2400 CNC Mill

img(src="images/dyna_myte_2400.jpg")

p.
  In the summer 2017, we restored a Dyna Myte 2400, a powerfull but retro CNC
  from the 80s, for the
  #[a(href="http://robotgarden.org/") RobotGarden Makerspace]. Check the video:

iframe(width="600", height="380", frameborder="0", allowfullscreen,
  src="https://www.youtube.com/embed/8IcQnnB2bXY")
