.front-content
  h1 Build or Retrofit Your CNC
  p.
    The tools and information you need for a successful CNC build or retrofit.

  ul
    li Choose your software stack.
    li Select your mechnical base.
    li Choose the right stepper motors.
    li Size the power supply.
    li Select a tool head.
    li Add sensors.
