h2 Matt Dralle's Jet mill Retrofit

iframe(width=560, height=315, src="https://www.youtube.com/embed/pomILJae5Io",
  frameborder=0, allowfullscreen)

p.
  Matt Dralle of #[a(src="https://www.matronics.com/") Matronics] used the
  Buildbotics controller to retrofit a Jet 830 vertical mill so he can make
  parts for his custom built airplanes.  Watch Matt's video to find out more.
