doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon", href="images/favicon.ico")
    title Buildbotics Open-Source CNC Controller

    link(rel='stylesheet' href='css/style.css')

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    link(rel='stylesheet'
      href=cdn + '/font-awesome/4.7.0/css/font-awesome.min.css')

    link(href='//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Lato|' +
      'Audiowide'
      rel='stylesheet' type='text/css')


  body
    #page
      include ./header.jade

      #content(class="%PAGE%-page")
        .page-content
          include ./templates/%PAGE%.jade

      include ./footer.jade

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    script(src=cdn + '/vue/0.11.8/vue.min.js')

    script(src='/js/modernizr.custom.js')
