<nav class="site-nav">
  <div class="site-nav-left">
    <a class="site-logo" href="/">
      <img src="/images/buildbotics_logo-40x40.png" alt="Buildbotics logo"/>
      <div class="left">Build</div><div class="right">botics</div>
    </a>

    {{#if @site.navigation}}
      {{navigation}}
    {{/if}}
  </div>
  <div class="site-nav-right">
    <ul class="nav">
      <li>Call 707-559-8539</li>
      <li id="cart"></li>
    </ul>
  </div>
</nav>
