{{!< default}}

<main id="site-main" class="site-main outer">
  <div class="inner">
    <h1 class="post-full-header">Blog Posts</h1>
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
  </div>
</main>
