{{!< default}}

<header class="site-header outer">
  <div class="inner">{{> "site-nav"}}</div>
</header>

<main id="site-main" class="site-main outer">
  <div class="inner">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
  </div>
</main>
