{{!< default}}

{{#post}}
  <main id="site-main" class="site-main outer">
    <div class="inner">
      <article class="post-full {{post_class}}">
        <header class="post-full-header">
          <h1 class="post-full-title">{{title}}</h1>
        </header>

        <section class="post-full-content">
          <div class="post-content">{{content}}</div>
        </section>
      </article>
    </div>
  </main>
{{/post}}

{{#contentFor "scripts"}}
  <script>$(function() {$(".post-full-content").fitVids()})</script>
{{/contentFor}}
